---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.author__avatar img{
    max-width: 70%;
}


.page__hero--overlay{
    height: 100vh;
    margin-bottom: 0;
}

.masthead{
    background: #222;
    border-bottom: 0;
    height: 6vh;
}

.masthead__inner-wrap{
    padding: 0;
    padding-left: 1em;
    font-size: medium;
}

.greedy-nav{
    background-color: #fff0;
    background: #fff0;
}

.page__footer{
    margin-top: 0;
}

.site-title{
    color: #d0d0d0 !important;
}

.masthead__menu-item a{
    color: #d0d0d0;
}

.page__hero--overlay .page__title{
    font-size: 6rem;
}

.page__hero--overlay .wrapper{
    padding-top: 30vh;
}

.page__lead{
    font-size: 2rem;
}

.author__avatar img{
    border: 0px none;
    border-radius: 0;
}